<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>配置 - Docker自动部署工具</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
          type="text/css">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static',filename='vendor/morrisjs/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static',filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
    <![endif]-->


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Docker自动部署工具</a>
        </div>
        <!-- /.navbar-header -->

        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/images"><i class="fa fa-image fa-fw"></i> 镜像</a>
                    </li>
                    <li>
                        <a href="/containers"><i class="fa fa-th fa-fw"></i> 容器</a>
                    </li>
                    <li>
                        <a href="/dockerhub"><i class="fa fa-cog fa-table"></i> 仓库</a>
                    </li>
                    <li>
                        <a href="/configuration"><i class="fa fa-cog fa-fw"></i> 配置</a>
                    </li>
                    <li>
                        <a href="/dockerfile"><i class="fa fa-folder-o"></i> dockerfile</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-user fa-fw"></i> 用户<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/user">修改密码</a>
                            </li>
                            <li>
                                <a href="/logout">登出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Docker配置</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table  table-hover">
                            <thead>
                            <tr>
                                <th>属性</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeC">
                                <td>Go版本</td>
                                <td>{{ version['GoVersion'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>版本</td>
                                <td>{{ version['Version'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Git提交版本</td>
                                <td>{{ version['GitCommit'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>API版本</td>
                                <td>{{ version['ApiVersion'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>容器</td>
                                <td>{{ info['Containers'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>镜像</td>
                                <td>{{ info['Images'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>驱动</td>
                                <td>{{ info['Driver'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>内核版本</td>
                                <td>{{ info['KernelVersion'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>调试</td>
                                <td>{{ info['Debug'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Fd数</td>
                                <td>{{ info['NFd'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>Go例程数</td>
                                <td>{{ info['NGoroutines'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>事件监听数</td>
                                <td>{{ info['NEventsListener'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>索引服务器地址</td>
                                <td>{{ info['IndexServerAddress'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>内存限制</td>
                                <td>{{ info['MemoryLimit'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>SWAP限制</td>
                                <td>{{ info['SwapLimit'] }}</td>
                            </tr>
                            <tr class="gradeC">
                                <td>IPv4转发</td>
                                <td>{{ info['IPv4Forwarding'] }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.js') }}"></script>

<!-- DataTables JavaScript -->
<script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static',filename='dist/js/sb-admin-2.js') }}"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
</html>
